* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #80ada3;
  --main-dark: #525051;
  --main-light: #bbb7ac;
  --main-splash: #9c8d91;
  --main-print: darkslategrey;
}

body {
  min-height: 100vh;
  color: var(--main-print);
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  color: #eee;
}


h1, h2, h3 {
  font-family: 'Ubuntu', sans-serif;
  color: #333;
}

.section {
  min-height: 100vh;
  width: 90%;
  padding: 2rem 0;
  margin: 0 auto;
}


/* ***** NAVBAR ***** */

.navbar {
  width: 100%;
  min-height: 3rem;
  position: fixed;
  background-color: var(--main-dark);
}


/* ***** INTRO ***** */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.header {
  font-size: 3rem;
  color: var(--main-splash);
}

.blurb {
  min-width: 18rem;
  background: var(--main-light); 
  min-height: 25rem;
  margin-bottom: 4rem;
}


/* ***** ABOUT ME ***** */

.bio {
  background-color: var(--main-splash);
  min-height: 30rem;
  min-width: 15rem;

  font-size: 1.2rem;
}

.tech {
  background-color: var(--main-dark);
  min-width: 15rem;
  margin: 4rem auto;
  min-height: 35rem;
}


/* ***** PROJECTS ***** */

.projects {
  display: flex;
  flex-direction: column;
}

.project-card {
  margin: 2rem;
  min-height: 35rem;
  background-color: var(--main-color);
}

/* ***** CONTACT PAGE ***** */

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-div {
  min-height: 25rem;
  background-color: var(--main-dark);
}

/* ***** FOOTER ***** */

footer {
  width: 100%;
  min-height: 3rem;
  background-color: var(--main-splash);
}



/* ***** MEDIA QUERIES ***** */

@media only screen and (min-width: 700px) {
  .navbar {
    padding: .7rem;
  }

  .name {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 1000px) {

  .section {
    max-width: 62.5rem;
  }

  .about-me {
    display: flex;
  }

  .blurb {
    max-width: 30rem;
  }

  .name {
    font-size: 5rem;
  }

  .about-me {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .tech {
    margin: 0;
  }

  .projects {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .project-card {
    flex: 1 0 auto;
  }

  .form-div {
    margin: 0;
  }
}